.top-banner-backround-color{
   border-radius: 10px;
   background-color: #FBEBE9
}
.container{
   margin-bottom: 100px;
}

.carousel-item
{
padding: 20px 40px;

}
.price{
   color: rgb(255, 47, 99);
}
.buy-now-button{

   background-image: linear-gradient( to bottom ,rgb(255, 67, 114), rgb(248, 47, 97), rgb(241, 62, 107));
   color: #FBEBE9;
   border: none;
   border-radius: 8px;
   padding: 9px 25px;
   cursor: pointer;

}

.cat1{
   background-color: linear-gradient(,orange,rgb(255, 208, 0),rgb(255, 230, 0) );

   background-color:orange;
}
.cat2{
   background-color: crimson;

   
}
.cat3{
  
   background-color:rgb(39, 39, 255);


}

.cat1,.cat2,.cat3{
   padding: 10px 30px;
   color: white;
   border-radius: 10px;

}

.categories img{
   width: 100px;
}
.card{

   border: none;
   box-shadow: 10px 20px 20px lightgrey;

}
.card-footer{
   border: none;
   background-color: white;


}

.contact{

   height: 50%;
   width: 83%;
   align-items: center;
}
.contact h6{
   color:gray;
}

 footer{
      text-align: center;
}



















